In [1]:
#Creating a set
color={"Red", "Green", "Yellow", "Black"}
print(color)

{'Green', 'Yellow', 'Red', 'Black'}

In [2]:
#Creating a set using set function
n=set((2,1,3,2,1))
print(n)

{1, 2, 3}

In [3]:
#Basic set operation
a={1,2,3}
b={3,4,5}
print(a.union(b))
print(b.union(a))
print(a.intersection(b))
print(a.difference(b))
print(b.difference(a))
print(a.symmetric_difference(b))
print(b.symmetric_difference(a))

{1, 2, 3, 4, 5}
{1, 2, 3, 4, 5}
{3}
{1, 2}
{4, 5}
{1, 2, 4, 5}
{1, 2, 4, 5}

In [4]:
#Adding a new element in a set
os={"Windows", "Linux","MacOS"}
os.add("Unix")
print(os)

{'Windows', 'Linux', 'Unix', 'MacOS'}

In [5]:
#Subject chosen
maths={"Sureka","Ranjana","Kaniga","Tharshini","Charunethra"}
cs={"Dhanya","Ranjana","Alfhiya","Alshifa","Kaniga"}
print("Students who are chosen both subjects:",maths.intersection(cs))
print("Students who are chosen either maths or cs:",maths.symmetric_difference(cs))
print("Students who are chosen maths alone:",maths.difference(cs))
print("Students who are chosen CS alone:",cs.difference(maths))
maths.add("Riya")
print(maths)

Students who are chosen both subjects: {'Kaniga', 'Ranjana'}
Students who are chosen either maths or cs: {'Sureka', 'Tharshini', 'Dhanya', 'Alshifa', 'Charunethra', 'Alfhiya'}
Students who are chosen maths alone: {'Charunethra', 'Sureka', 'Tharshini'}
Students who are chosen CS alone: {'Dhanya', 'Alshifa', 'Alfhiya'}
{'Riya', 'Sureka', 'Ranjana', 'Kaniga', 'Charunethra', 'Tharshini'}

In [6]:
#Updating a set
maths={"Sureka","Ranjana","Kaniga","Tharshini","Charunethra"}
m={"Meena", "Reena"}
maths.update(m)
print(maths)

{'Sureka', 'Reena', 'Ranjana', 'Meena', 'Kaniga', 'Charunethra', 'Tharshini'}

In [8]:
#Type error Due to unhashable set element
maths={"Sureka", "Ranjana", "Kaniga", "Alfhiya", "Alshifa"}
maths.add({"Theju","Anitha","Reka"})
print(maths)

TypeError: unhashable type: 'set'

In [10]:
#Discard function
maths={"Sureka", "Ranjana", "Kaniga", "Alfhiya", "Alshifa"}
maths.discard("Sureka")
print(maths)

{'Ranjana', 'Alshifa', 'Kaniga', 'Alfhiya'}

In [11]:
#Remove function
maths={"Sureka", "Ranjana", "Kaniga", "Alfhiya", "Alshifa"}
maths.remove("Ranjana")
print(maths)

{'Sureka', 'Alshifa', 'Kaniga', 'Alfhiya'}

In [12]:
#Key error while removing non-existent element from set
maths={"Sureka", "Ranjana", "Kaniga", "Alfhiya", "Alshifa"}
maths.discard("Sureka")
maths.remove("Sureka")
print(maths)

KeyError: 'Sureka'

In [13]:
#Avoiding duplicates
s={'a','c','e','d'}
s.update('and')
print(s)

{'a', 'd', 'n', 'c', 'e'}

In [14]:
#Clear function
s={'a','c','e','d'}
s.clear()
print(s)

set()